<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Cores</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Serial">Serial</abbr></th>
                <th><abbr title="block">Block</abbr></th>
                <th><abbr title="Reuse Count">Reuse Count</abbr></th>
                <th><abbr title="rtls_attempts">RTLS Attempts</abbr></th>
                <th><abbr title="rtls_landings">RTLS Landings</abbr></th>
                <th><abbr title="asds_attempts">ASDS Attempts</abbr></th>
                <th><abbr title="asds_landings">ASDS Landings</abbr></th>
                <th><abbr title="status">Status</abbr></th>
                <th>ID</th>
                <th>Launches</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><abbr title="Serial">Serial</abbr></th>
                <th><abbr title="block">Block</abbr></th>
                <th><abbr title="Reuse Count">Reuse Count</abbr></th>
                <th><abbr title="rtls_attempts">RTLS Attempts</abbr></th>
                <th><abbr title="rtls_landings">RTLS Landings</abbr></th>
                <th><abbr title="asds_attempts">ASDS Attempts</abbr></th>
                <th><abbr title="asds_landings">ASDS Landings</abbr></th>
                <th><abbr title="status">Status</abbr></th>
                <th>ID</th>
                <th>Launches</th>
            </tr>
        </tfoot>
        <tbody>
            <% for( let i=0; i < cores.length; i++ ) { %>
                <% let core=cores[i] %>
                    <tr>
                        <th>
                            <%= core.serial %>
                        </th>
                        <td>
                            <% if (core.block===null) { %>
                                <%= 'N/A' %>
                                    <% } else {%>
                                        <%= core.block %>
                                            <% } %>
                        </td>
                        <td>
                            <%= core.reuse_count %>
                        </td>
                        <td>
                            <%= core.rtls_attempts %>
                        </td>
                        <td>
                            <%= core.rtls_landings %>
                        </td>
                        <td>
                            <%= core.asds_attempts %>
                        </td>
                        <td>
                            <%= core.asds_landings %>
                        </td>
                        <td>
                            <%= core.status %>
                        </td>
                        <td>
                            <%= core.id %>
                        </td>
                        <td>
                            <% if (core.launches.length < 1) { %>
                                <%= 'N/A' %>
                                    <% } else {%>
                                        <%= core.launches %>
                                            <% } %>
                        </td>
                    </tr>
                    <% }%>
        </tbody>
    </table>
</body>

</html>