<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Crew Members</title>
</head>

<body>
    <% for( let i=0; i < crew.length; i++ ) { %>
        <% let individual=crew[i] %>


            <div class="card" style="border: 30px solid navy; border-radius: 15px;">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="<%= individual.image %>" alt="Placeholder image" style="border-radius: 15px;"
                            width="50%" height="50%">
                    </figure>
                </div>
                <div class=" card-content">
                    <div class="media">
                        <div class="media-left">

                            <figure class="image is-48x48">
                                <img src="<%= individual.image %>" alt="Placeholder image" style="border-radius: 15px;"
                                    width="480px" height="600px">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class=" title is-4" style="font-size: 48px; margin-top: -15px;">
                                <%= individual.name %>
                            </p>
                            <p class="subtitle is-6" style="font-size: 36px;">
                                <%= individual.agency %>
                                    ( <%= individual.status %> )
                            </p>
                        </div>
                    </div>

                    <div class="content" style="font-size: 24px;">
                        <a href="<%= individual.wikipedia %>">Wikipedia
                        </a>
                        <br>
                    </div>
                </div>
            </div>
            <% } %>
                <hr>
</body>

</html>