<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Document</title>
</head>

<body>
    <% for( let i=0; i < starlink.length; i++ ) { %>
        <% let star=starlink[i] %>

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        CCSDS_OMM_VERS
                        <%= star.spaceTrack.CCSDS_OMM_VERS %>
                            COMMENT
                            <%= star.spaceTrack.COMMENT %>
                                CREATION_DATE
                                <%= star.spaceTrack.CREATION_DATE %>
                                    ORIGINATOR
                                    <%= star.spaceTrack.ORIGINATOR %>
                                        OBJECT_NAME
                                        <%= star.spaceTrack.OBJECT_NAME %>
                                            OBJECT_ID
                                            <%= star.spaceTrack.OBJECT_ID %>
                                                CENTER_NAME
                                                <%= star.spaceTrack.CENTER_NAME %>
                                                    REF_FRAME
                                                    <%= star.spaceTrack.REF_FRAME %>
                                                        TIME_SYSTEM
                                                        <%= star.spaceTrack.TIME_SYSTEM %>
                                                            MEAN_ELEMENT_THEORY
                                                            <%= star.spaceTrack.MEAN_ELEMENT_THEORY %>
                                                                EPOCH
                                                                <%= star.spaceTrack.EPOCH %>
                                                                    MEAN_MOTION
                                                                    <%= star.spaceTrack.MEAN_MOTION %>
                                                                        ECCENTRICITY
                                                                        <%= star.spaceTrack.ECCENTRICITY %>
                                                                            INCLINATION
                                                                            <%= star.spaceTrack.INCLINATION %>
                                                                                RA_OF_ASC_NODE
                                                                                <%= star.spaceTrack.RA_OF_ASC_NODE %>
                                                                                    ARG_OF_PERICENTER
                                                                                    <%= star.spaceTrack.ARG_OF_PERICENTER
                                                                                        %>
                                                                                        MEAN_ANOMALY
                                                                                        <%= star.spaceTrack.MEAN_ANOMALY
                                                                                            %>
                                                                                            EPHEMERIS_TYPE
                                                                                            <%= star.spaceTrack.EPHEMERIS_TYPE
                                                                                                %>
                                                                                                CLASSIFICATION_TYPE
                                                                                                <%= star.spaceTrack.CLASSIFICATION_TYPE
                                                                                                    %>
                                                                                                    NORAD_CAT_ID
                                                                                                    <%= star.spaceTrack.NORAD_CAT_ID
                                                                                                        %>
                                                                                                        ELEMENT_SET_NO
                                                                                                        <%= star.spaceTrack.ELEMENT_SET_NO
                                                                                                            %>
                                                                                                            REV_AT_EPOCH
                                                                                                            <%= star.spaceTrack.REV_AT_EPOCH
                                                                                                                %>
                                                                                                                BSTAR
                                                                                                                <%= star.spaceTrack.BSTAR
                                                                                                                    %>
                                                                                                                    MEAN_MOTION_DOT
                                                                                                                    <%= star.spaceTrack.MEAN_MOTION_DOT
                                                                                                                        %>
                                                                                                                        MEAN_MOTION_DDOT
                                                                                                                        <%= star.spaceTrack.MEAN_MOTION_DDOT
                                                                                                                            %>
                                                                                                                            SEMIMAJOR_AXIS
                                                                                                                            <%= star.spaceTrack.SEMIMAJOR_AXIS
                                                                                                                                %>
                                                                                                                                PERIOD
                                                                                                                                <%= star.spaceTrack.PERIOD
                                                                                                                                    %>
                                                                                                                                    APOAPSIS
                                                                                                                                    <%= star.spaceTrack.APOAPSIS
                                                                                                                                        %>
                                                                                                                                        PERIAPSIS
                                                                                                                                        <%= star.spaceTrack.PERIAPSIS
                                                                                                                                            %>
                                                                                                                                            OBJECT_TYPE
                                                                                                                                            <%= star.spaceTrack.OBJECT_TYPE
                                                                                                                                                %>
                                                                                                                                                RCS_SIZE
                                                                                                                                                <%= star.spaceTrack.RCS_SIZE
                                                                                                                                                    %>
                                                                                                                                                    COUNTRY_CODE
                                                                                                                                                    <%= star.spaceTrack.COUNTRY_CODE
                                                                                                                                                        %>
                                                                                                                                                        LAUNCH_DATE
                                                                                                                                                        <%= star.spaceTrack.LAUNCH_DATE
                                                                                                                                                            %>
                                                                                                                                                            SITE
                                                                                                                                                            <%= star.spaceTrack.SITE
                                                                                                                                                                %>
                                                                                                                                                                DECAY_DATE
                                                                                                                                                                <%= star.spaceTrack.DECAY_DATE
                                                                                                                                                                    %>
                                                                                                                                                                    DECAYED
                                                                                                                                                                    <%= star.spaceTrack.DECAYED
                                                                                                                                                                        %>
                                                                                                                                                                        FILE
                                                                                                                                                                        <%= star.spaceTrack.FILE
                                                                                                                                                                            %>
                                                                                                                                                                            GP_ID
                                                                                                                                                                            <%= star.spaceTrack.GP_ID
                                                                                                                                                                                %>
                                                                                                                                                                                TLE_LINE0
                                                                                                                                                                                <%= star.spaceTrack.TLE_LINE0
                                                                                                                                                                                    %>
                                                                                                                                                                                    TLE_LINE1
                                                                                                                                                                                    <%= star.spaceTrack.TLE_LINE1
                                                                                                                                                                                        %>
                                                                                                                                                                                        TLE_LINE2
                                                                                                                                                                                        <%= star.spaceTrack.TLE_LINE2
                                                                                                                                                                                            %>
                                                                                                                                                                                            launch
                                                                                                                                                                                            <%= star.launch
                                                                                                                                                                                                %>
                                                                                                                                                                                                version
                                                                                                                                                                                                <%= star.version
                                                                                                                                                                                                    %>
                                                                                                                                                                                                    height_km
                                                                                                                                                                                                    <%= star.height_km
                                                                                                                                                                                                        %>
                                                                                                                                                                                                        velocity_kms
                                                                                                                                                                                                        <%= star.latitude
                                                                                                                                                                                                            %>
                                                                                                                                                                                                            velocity_kms
                                                                                                                                                                                                            <%= star.longitude
                                                                                                                                                                                                                %>
                                                                                                                                                                                                                velocity_kms
                                                                                                                                                                                                                <%= star.velocity_kms
                                                                                                                                                                                                                    %>
                                                                                                                                                                                                                    id
                                                                                                                                                                                                                    <%= star.id
                                                                                                                                                                                                                        %>
                    </div>
                </div>
            </div>
            <% } %>
</body>

</html>